@using System.Data
@model IEnumerable<VSAssetManagement.IOModels.Project>

<div class="col-sm-12" style="padding:1px">
    <div class="card">
        <div class="card-header">
            <h5>Project</h5>
            <div class="card-header-right">
                <div class="btn-group card-option">
                    @Html.ActionLink("", "ProjectOps","Project", "", new {@style="margin-right: 10px;",@class="feather icon-plus-circle" })
                    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="feather icon-more-horizontal"></i>
                    </button>
                    <ul class="list-unstyled card-option dropdown-menu dropdown-menu-right">
                        <li class="dropdown-item full-card"><a href="#!"><span><i class="feather icon-maximize"></i> maximize</span><span style="display:none"><i class="feather icon-minimize"></i> Restore</span></a></li>
                        <li class="dropdown-item minimize-card"><a href="#!"><span><i class="feather icon-minus"></i> collapse</span><span style="display:none"><i class="feather icon-plus"></i> expand</span></a></li>
                        <li class="dropdown-item reload-card"><a href="#!"><i class="feather icon-refresh-cw"></i> reload</a></li>
                        <li class="dropdown-item close-card"><a href="#!"><i class="feather icon-trash"></i> remove</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card-body" style="padding:2px 2px 2px 2px"> 
            <div class="dt-responsive table-responsive">
                <table id="simpletable" class="table table-striped table-bordered table-hover nowrap">            
                <thead>
                    <tr>
                            <th>Edit</th>
                            <th>Delete</th>
                            <th data-breakpoints="xs">Id</th>
                            <th data-breakpoints="xs">Project Code</th>
                            <th data-breakpoints="xs">Project Name</th>
                            <th data-breakpoints="xs">Project Type</th>
                            <th data-breakpoints="xs">Client Name</th>
                            <th data-breakpoints="xs">Project Start Date</th>
                            <th data-breakpoints="xs">Project End Date</th>
                            <th data-breakpoints="xs">Project Site Head</th>
                            <th data-breakpoints="xs">Site Head Mobile</th>
                            <th data-breakpoints="xs">Gstin No</th>
                            <th data-breakpoints="xs">City Town</th>
                            <th data-breakpoints="xs">Address Line 1</th>
                            <th data-breakpoints="xs">Address Line 2</th>                                                        
                            <th data-breakpoints="xs" hidden>Guid</th>

                    </tr>
                </thead>
                <tbody>                 
                    <tr>
                            @{
                                int rowNo = 0;
                            }
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td id="loadRecord">
                                @Html.ActionLink("", "ProjectOps","Project", new { guid=item.Guid  }, new {@class="feather icon-edit" })
                            </td>
                            <td id="deleteRecord" class="text-center">
	                            @Html.ActionLink("", "Delete","Project", new { guid=item.Guid  }, new {@class="feather icon-trash-2 text-danger" })
                            </td>
                                <td>@(rowNo += 1)</td>
                                <td>@Html.DisplayFor(modelItem=>item.ProjectCode)</td>
                                <td>@Html.DisplayFor(modelItem=>item.ProjectName)</td>
                                <td>@Html.DisplayFor(modelItem=>item.ProjectType)</td>
                                <td>@Html.DisplayFor(modelItem=>item.ClientName)</td>
                                <td>@Html.DisplayFor(modelItem=>item.ProjectStartDate)</td>
                                <td>@Html.DisplayFor(modelItem=>item.ProjectEndDate)</td>
                                <td>@Html.DisplayFor(modelItem=>item.ProjectSiteHead)</td>
                                <td>@Html.DisplayFor(modelItem=>item.SiteHeadMobile)</td>
                                <td>@Html.DisplayFor(modelItem=>item.GstinNo)</td>
                                <td>@Html.DisplayFor(modelItem=>item.CityTown)</td>
                                <td>@Html.DisplayFor(modelItem=>item.AddressLine1)</td>
                                <td>@Html.DisplayFor(modelItem=>item.AddressLine2)</td>                                                                
                                <td hidden>@Html.DisplayFor(modelItem=>item.Guid)</td>
                        </tr>
                        }                    
                </tbody>
            </table>
            </div>
        </div>
    </div>
</div>

<script src="@Url.Content("../customjs/util.js")"></script>
<script>
    $(window).on('load', function () {
        setActiveMenu('wingz', 'project');
    });
</script>