@using System.Data
@model VSAssetManagement.IOModels.PurchaseOrder    
<div class="col-sm-12" style="padding:1px">
   <div class="card">
      <div class="card-header">
         <h5>Purchase Order</h5>
        
            
      </div>
      <div class="card-body">
         @using (Html.BeginForm("", "", FormMethod.Post, new { style = "width:100%" }))
         {
         @Html.HiddenFor(model=>model.Guid,new{id="hdnGuid"})
         @Html.AntiForgeryToken()
         <div class="row">
            <div class="col-md-6">
               <div class="form-group">
                  <label class="form-label">PO Number</label>                                                       
                  @Html.EditorFor(model => model.PurchaseOrderNo, new { htmlAttributes = new { @class = "form-control",@placeholder="Purchase Order No",@id="poNo" } })
                  @Html.ValidationMessageFor(model => model.PurchaseOrderNo, "", new { @class = "text-danger" })
               </div>
            </div>
            <div class="col-md-6">
               <div class="form-group">
                  <label class="form-label">PO Date</label> 
                  @Html.EditorFor(model => model.PurchaseOrderDate, new { htmlAttributes = new { @class = "form-control",@placeholder="Purchase Order Date",@id="poData" } })
                  @Html.ValidationMessageFor(model => model.PurchaseOrderDate, "", new { @class = "text-danger" })
               </div>
            </div>
         </div>
         <div class="card" style="margin-top: 0px;box-shadow:none">
            <div class="card-header" id="headingOne" style="padding: 3px 0px;">
               <h5 class="mb-0"><a href="#!" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Batches</a></h5>
            </div>
            <div id="collapseOne" style="padding:0px" class=" card-body collapse show revenue-scroll ps ps--active-y" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <table id="demo-foo-filtering" class="table table-striped table-bordered nowrap" style="">
                  <thead>
                     <tr class="footable-header">
                        <th data-breakpoints="xs" class="footable-sortable" style="display: table-cell;">#<span class="fooicon fooicon-sort"></span></th>
                        <th class="footable-sortable footable-first-visible footable-asc" style="display: table-cell;">First Name<span class="fooicon fooicon-sort-asc"></span></th>
                        <th data-breakpoints="xs" class="footable-sortable" style="display: table-cell;">Last Name<span class="fooicon fooicon-sort"></span></th>
                        <th data-breakpoints="xs" class="footable-sortable" style="display: table-cell;">Job Title<span class="fooicon fooicon-sort"></span></th>
                        <th data-breakpoints="xs" class="footable-sortable" style="display: table-cell;">BOB<span class="fooicon fooicon-sort"></span></th>
                        <th class="footable-sortable footable-last-visible" style="display: table-cell;">Status<span class="fooicon fooicon-sort"></span></th>
                     </tr>
                  </thead>
                  <tbody>                     
                     <tr>
                                    <td><a href="#" class="icon feather icon-edit"></a></td>
                        <td class="footable-first-visible" style="display: table-cell;">Airi Satou</td>
                        <td style="display: table-cell;">Accountant</td>
                        <td style="display: table-cell;">Tokyo</td>
                        <td style="display: table-cell;">33</td>
                        <td class="footable-last-visible" style="display: table-cell;">
                           <span class="tag tag-success">Active</span>
                        </td>
                     </tr>
                     <tr>
                                    <td><a href="#" class="icon feather icon-edit"></a></td>
                        <td class="footable-first-visible" style="display: table-cell;">Bradley Greer</td>
                        <td style="display: table-cell;">Software</td>
                        <td style="display: table-cell;">London</td>
                        <td style="display: table-cell;">41</td>
                        <td class="footable-last-visible" style="display: table-cell;">
                           <span class="tag tag-danger">Suspended</span>
                        </td>
                     </tr>
                     <tr>
                                    <td><a href="#" class="icon feather icon-edit"></a></td>
                        <td class="footable-first-visible" style="display: table-cell;">Brielle</td>
                        <td style="display: table-cell;">Specialist</td>
                        <td style="display: table-cell;">New York</td>
                        <td style="display: table-cell;">61</td>
                        <td class="footable-last-visible" style="display: table-cell;">
                           <span class="tag tag-default">Disabled</span>
                        </td>
                     </tr>
                     <tr>
                                    <td><a href="#" class="icon feather icon-edit"></a></td>
                        <td class="footable-first-visible" style="display: table-cell;">Charde Marshall</td>
                        <td style="display: table-cell;">Regional Director</td>
                        <td style="display: table-cell;">San</td>
                        <td style="display: table-cell;">36</td>
                        <td class="footable-last-visible" style="display: table-cell;">
                           <span class="tag tag-danger">Suspended</span>
                        </td>
                     </tr>
                     <tr>
                                    <td><a href="#" class="icon feather icon-edit"></a></td>
                        <td class="footable-first-visible" style="display: table-cell;">Colleen Hurst</td>
                        <td style="display: table-cell;">Javascript Developer</td>
                        <td style="display: table-cell;">San</td>
                        <td style="display: table-cell;">39</td>
                        <td class="footable-last-visible" style="display: table-cell;">
                           <span class="tag tag-default">Disabled</span>
                        </td>
                     </tr>
                                          <tr>
                        <td><a href="#" class="icon feather icon-edit"></a></td>
                        <td class="footable-first-visible" style="display: table-cell;">Colleen Hurst</td>
                        <td style="display: table-cell;">Javascript Developer</td>
                        <td style="display: table-cell;">San</td>
                        <td style="display: table-cell;">39</td>
                        <td class="footable-last-visible" style="display: table-cell;">
                           <span class="tag tag-default">Disabled</span>
                        </td>
                     </tr>
                                <tr>
                                    <td><a href="#" class="icon feather icon-edit"></a></td>
                                    <td class="footable-first-visible" style="display: table-cell;">Colleen Hurst</td>
                                    <td style="display: table-cell;">Javascript Developer</td>
                                    <td style="display: table-cell;">San</td>
                                    <td style="display: table-cell;">39</td>
                                    <td class="footable-last-visible" style="display: table-cell;">
                                        <span class="tag tag-default">Disabled</span>
                                    </td>
                                </tr>
                  </tbody>
               </table>
            </div>
         </div>
                <button class="btn notifications btn-primary" style="float: right;" data-type="success" data-from="top" data-align="right">Submit</button>
         
         }
      </div>
   </div>
</div>
@section Scripts
{
<script src="@Url.Content("../customjs/purchaseorder.js")"></script>
<style>        
.table thead th {
    padding:1px;
}
.table tbody td {
    padding:1px;
}
</style>
}